.linha{
    display: flex;
    justify-content: space-around;
}

h1{
    text-align: center;
}
.App{
    max-width: 900px;
    margin: auto;
}

@media screen and (max-width: 450px) {
    .linha{
        display: table-row;
        justify-content: space-around;
    }
  }